@using SmartBatteryTesterWebApp.UI.Models.Chart
@model ChartJsData

<div>
    <h5>Measurement chart</h5>
    <canvas id="measurementLineChart"></canvas>
</div>

<script src="~/js/Chart.js/chart.umd.js"></script>

<script type="text/javascript">

    let showChart = (isAnimation) => {
        let context = document.getElementById("measurementLineChart");
        let lineChart = new Chart(context, {
            type: 'line',
            data: @Html.Raw(Json.Serialize(Model)),
            
            options: {
                animation: isAnimation,
            }
        });
    }

    showChart(true);
</script>