@model IEnumerable<MeasurementViewModel>

<div>
    @if (Model != null)
    {
        @foreach (var measurement in Model)
        {
            <p>Voltage: @measurement.Voltage</p>
            <p>Current: @measurement.Current</p>
            <p>Date: @measurement.MeasurementDateTime</p>
        }
    }
    else
    {
        <p>Имзерений нет</p>
    }
</div>

<div id="signalRMessage"></div>

<script src="/js/aspnet-signalr/signalr.min.js"></script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/measurementsHub").build();

    hubConnection.on("Receive", function(message) {
        let newElement = document.createElement("p");
        newElement.textContent = message;
        document.getElementById("signalRMessage").appendChild(newElement);
    });

    hubConnection.start();
</script>