@model List<MeasurementSetViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <P>Списко измерений</P>

    <ul class="col-md-2">
        @foreach (var measurement in Model)
        {
            <li>@measurement.MeasurementName</li>
        }
    </ul>
</div>
