@{
    ViewData["Title"] = "Create new measurement name";
}

<form method="post">
    <label>Имя</label><br />
    <input type="text" name="measurementName" /><br />
    <input type="submit" value="Создать" />
</form>
