.about_title {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.about_title:after {
    content: '';
    width: 22px;
    height: 13px;
    margin-top: 7px;
    margin-left: 10px;
    transition: .3s;
    background: url(../about_arrow_down.png) no-repeat center;
    transform: rotate(0);
}

.about_title.open:after {
    transform: rotate(180deg);
}

.about_title_description {
    font-size: calc(1.275rem + .3vw);
    font-weight: 500;
    opacity: .7;
    margin-left: 1rem;
    transition: .3s;
}

.about_title_description:hover {
    opacity: 1;
}
