@{
    ViewData["Title"] = "О проекте";
}

<div class="text-center">
    <h3>О проекте</h3>
</div>

<div>
    <div class="border-start border-5 mt-4"">
        <div class="about_title">
            <div class="about_title_description">
                Описание
            </div>
        </div>
        <div class="text-start ms-3">
            <p>Данный ресурс предназначен для удаленного контроля процесса разряда аккумуляторных батарей.</p>
            <p>Проект состоит из веб-приложения, приложения для Windows и устройства на микроконтроллере ATmega8A (MCU).</p>
            <p>
                MCU измеряет напряжение АКБ и отправляет измеренные значения Windows-приложению.
                Для передачи данных MCU использует внутренний приемо-передатчик USART, подключение к ПК осуществляется через 
                преобразователь USB-TTL. Подключение и отключение разрядного устройства к АКБ осуществляется твердотельным реле, 
                которое управляется Windows-приложением через микроконтроллер.
            </p>
            <p>
                Windows-приложение обрабатывает данные от MCU, управляет процессом разряда и отправляет данные веб-приложению,
                используя API.
                Windows-приложение с MCU можно использовать автономно без подключения к веб-приложению, однако в данном случае 
                данные о разряде не будут сохранены.
            </p>
            <p>
                Страница <a href="~/Measurement">Измерения</a> предназначена для контроля процесса разряда в режиме реального времени.
                Все подключенные к этой странице пользователи одновременно получают актуальные данные. График разряда обновляется 
                автоматически.
            </p>
            <p>На странице <a href="~/History">История измерений</a> доступны для просмотра результаты ранее произведенных тестов.</p>
        </div>
    </div>
    <div class="border-start border-5 mt-4"">
        <div class="about_title">
            <div class="about_title_description">
                Преимущества
            </div>
        </div>
        <div class="text-start ms-3">
            <p class="mb-0">Преимущества данной системы:</p>
            <ul>
                <li>
                    <span class="fw-bold">Автоматическое управление процессом разряда.</span> 
                    Все, что Вам нужно - просто подключить аккумулятор и запустить процесс
                </li>
                <li>
                    <span class="fw-bold">Удаленный контроль процесса разряда.</span>
                    Наблюдать за процессом разряда можно с любого смартфона, планшета или ПК
                </li>
                <li>
                    <span class="fw-bold">Хранение результатов.</span>
                    Результаты предыдущих измерений хранятся в базе данных
                </li>
            </ul>
        </div>
    </div>
    <div class="border-start border-5 mt-4"">
        <div class="about_title">
            <div class="about_title_description">
                Особенности
            </div>
        </div>
        <div class="text-start ms-3">
            <p>
                В данном релизе не реализована авторизация пользователей, поэтому веб-приложение рекомендуется использовать
                в локальной сети
            </p>
        </div>
    </div>
    <div class="border-start border-5 mt-4"">
        <div class="about_title">
            <div class="about_title_description">
                В следующих релизах
            </div>
        </div>
        <div class="text-start ms-3">
            <p class="mb-0">В следующих релизах будет реализовано:</p>
            <ul>
                <li>Авторизация пользователей</li>
                <li>Возможность удалять результаты измерений для авторизованных пользователей</li>
                <li>Кнопка дистанционной аварийной остановки разряда в веб-приложении</li>
                <li>Измерение тока разряда</li>
                <li>Возможность разряда нескольких аккумуляторов одновременно</li>
                <li>Отправка сообщения об окончании разряда и результатов разряда на электронную почту</li>
                <li>Автоматическое подключение зарядного устройства сразу после окончания разряда</li>
            </ul>
        </div>
    </div>
    <div class="border-start border-5 mt-4">
        <div class="about_title">
            <div class="about_title_description">
                Фото
            </div>
        </div>
        <div class="text-start ms-3">

        </div>
    </div>
</div>

<script>
    $('.about_title').click(function(){
        $('.about_title.open').not(this).trigger('click');
        $('.about_title').not(this).parent().find('.text-start').slideUp('fast');
        $(this).parent().find('.text-start').slideToggle('fast');
        $(this).toggleClass('open');
    });

    $(function(){
        $('.text-start').slideUp(0);
    });
</script>
