@{
    ViewData["Title"] = "История измерений";
}

<div class="text-center">
    <h3>История измерений</h3>
    <br/>
</div>


<form asp-controller="History" asp-action="Index" method="get">
    <select name="measurementSetNumber" asp-items="ViewBag.MeasurementSetList" class="form-control"></select>
    <input type="submit" value="Получить данные" />
</form>

<vc:measurements measurement-view-model=ViewBag.Measurements/>

