
<div class="text-center">
    <p>Текущие измерения</p>
</div>

<div id="signalRMessage"></div>

<script src="/js/aspnet-signalr/signalr.min.js"></script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/measurementsHub").build();

    hubConnection.on("Receive", function(message) {
        let newElement = document.createElement("p");
        newElement.textContent = message;
        document.getElementById("signalRMessage").appendChild(newElement);
    });

    hubConnection.start();
</script>